<div class="admin-category-section">
  <div class="card flex justify-content-center newBut">
    <p-button (click)="showModal()"  label="Nouvelle Catégorie"></p-button>
    <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      <div class="card flex justify-content-center">
        <form class="flex flex-column gap-2" (ngSubmit)="postNewCat()">
          <label for="category-name">Nom de la nouvelle catégorie</label>
          <input name="category-name" type="text" pInputText [(ngModel)]="newCat" />
          <button>Valider</button>
        </form>
      </div>
    </p-dialog>
</div>
  <p-table [value]="categories" editMode="row" [tableStyle]="{ 'width': '50%','margin': 'auto', 'margin-top': '50px' }">
      <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-category let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="categories">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="category.name" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{category.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow  (click)="onRowEditInit(category)" class="p-button-rounded p-button-text pi pi-pencil"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow  (click)="onRowEditSave(category)" class="p-button-rounded p-button-text p-button-success mr-2 pi pi-check"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow  (click)="onRowEditCancel(category, ri)" class="p-button-rounded p-button-text p-button-danger pi pi-times"></button>
                </div>
            </td>
          </tr>
      </ng-template>
  </p-table>
</div>



