.main{
  width: 80%;
  margin: auto;
}
.category__tag__list{
  display: flex;
  justify-content: space-around;
  margin-top: 25px;

}
.categroy__tag{
  margin-right: 2px;
}
.form-category{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.validate__button{
  width: 10%;
  margin: auto;
}
