<div class="main">
<div class="category__tag__list" >
  <ng-container *ngFor="let item of categoryList" >
    <app-tags [category]="item" class="categroy__tag"/>
  </ng-container>

  <div class="card flex justify-content-center">
  <p-button (click)="showDialog()" icon="pi pi-plus" label="Nouvelle Catégorie"></p-button>
  <p-dialog header="Nouvelle categorie" [(visible)]="visible" [modal]="true" [style]="{ width: '50rem', height : '25rem' }" >
      <div class="card flex justify-content-center">
        <form class="form-category" (ngSubmit)="postNewCat()">
          <ng-container>
            <label for="category-name">Nom de la nouvelle catégorie</label>
            <input name="category-name" type="text" pInputText [(ngModel)]="newCat" required="true"/>
          </ng-container>

          <ng-container>
            <label for="category-color">Couleur de la categorie</label>
            <p-colorPicker name="category-color" type="color" [(ngModel)]="color" />
          </ng-container>

          <button class="validate__button" icon="pi pi-check">Valider</button>
        </form>
      </div>

  </p-dialog>
  </div>

</div>
  <h1>Main</h1>
  <app-cards></app-cards>
</div>




