.section_categories{
  background-color: blue;
  position: fixed;
  padding-top: 1%;
  top: 0;
  width: 100%;

}
.section_categories_list{
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
